*,
*::before,
*::aftter {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #f9f9ff;
  --color-primary: #242432;
  --color-secondary: #d8d8ea;
  --color-secondary-light: #c0c0de;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
}
